<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Paper</title>
</head>
<body>
    <h1>Test Paper</h1>
    <table>
        <tr>
            <th>Chapter</th>
            <th>Problem Content</th>
            <th>Problem Answer</th>
        </tr>
        {% for item in test_paper %}
        <tr>
            <td>{{ item.Chapter }}</td>
            <td>{{ item.Problem_content }}</td>
            <td>{{ item.Problem_answer }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
